body{
    background-color: aquamarine;
    
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rowcontainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin:10px;
}



input, button{
    background-color: beige;
}


ul, h3{
    color: beige;
}

.box {
    max-width: 30%;
    min-width: 224px;
    border: 5px solid black;
    background-color: rebeccapurple;
  }
.center{
    position: relative;
    left: 0%;
    flex-wrap: wrap;
    justify-content: center;
}
.txtcenter{
      margin: 0 auto;
      text-align: center;
      
}

