body{
    background-color: aquamarine;
    
}
input, button{
    
    background-color: beige;
}

ul, h3{
    color: beige;
}

.box {
    top: 50px;
    margin: 0 auto;
    width: 224px;
    height: 170px;
    border: 5px solid black;
    background-color: rebeccapurple;
    
  }
.center{
    position: relative;
    left: 0%;
    flex-wrap: wrap;
    justify-content: center;
}
.txtcenter{
      margin: 0 auto;
      text-align: center;
      
}

